@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	/* Main colors */
	--color-primary: #2acfc7;
	--color-accent: #e911e5;
	--color-neutral: #cbd9d8;
	--color-white: #ffffff;
	--color-black: #101010;
	--color-white-bg: #f5faf9;
	--color-dark-bg: #111d1c;

	/* Primary Colors */
	--color-primary-100: #96fdf8;
	--color-primary-200: #96fdf8;
	--color-primary-300: #6cf4ed;
	--color-primary-400: #47e6de;
	--color-primary-500: #2acfc7;
	--color-primary-600: #2c9b96;
	--color-primary-700: #286c69;
	--color-primary-800: #1f4240;
	--color-primary-900: #111d1c;

	/* Accent Colors */
	--color-accent-100: #ffc7fe;
	--color-accent-200: #ff94fd;
	--color-accent-300: #ff61fc;
	--color-accent-400: #fb32f7;
	--color-accent-500: #e911e5;
	--color-accent-600: #af18ac;
	--color-accent-700: #7b1979;
	--color-accent-800: #4c154b;
	--color-accent-900: #220c21;

	/* Neutral Colors */
	--color-neutral-100: #ffffff;
	--color-neutral-200: #f5faf9;
	--color-neutral-300: #e5f0ef;
	--color-neutral-400: #d7e5e4;
	--color-neutral-500: #cbd9d8;
	--color-neutral-600: #bbc9c8;
	--color-neutral-700: #b1b9b9;
	--color-neutral-800: #a8a8a8;
	--color-neutral-900: #9c9c9c;

	/* Black Colors */
	--color-black-500: #666666;
	--color-black-600: #4d4d4d;
	--color-black-700: #333333;
	--color-black-800: #1a1a1a;
	--color-black-900: #101010;

	/* Other Colors */
	--color-danger: #d46163;
	--color-danger-500: #d46163;
	--color-danger-600: #bd475d;

	/* Fonts */
	--font-inter: var(--font-inter);
	--font-outfit: var(--font-outfit);

	/* Texts */
	--text-md: 15px;

	/* Shadows */
	--shadow-modal: 0px 0px 8px 0px rgb(0, 0, 0, 0.15), 0px 2px 12px 1px rgb(0, 0, 0, 0.1);
	--shadow-button:
		0px 1px 4px -1px rgb(0, 0, 0, 0.18), 0px 2px 12px 0px rgb(0, 0, 0, 0.12), 0px 4px 18px 0px
		rgb(0, 0, 0, 0.8);
	--shadow-input: 0px -1px 6px 0px rgb(0, 0, 0, 0.18), 0px 2px 12px 0px rgb(0, 0, 0, 0.12);
	--shadow-popover: 0px 0px 8px -1px rgb(0, 0, 0, 0.2), 0px 0px 12px 1px rgb(0, 0, 0, 0.15);

	/* Shadcn UI Vars */
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--color-foreground: var(--foreground);
	--color-background: var(--background);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

body {
	@apply text-white bg-black font-inter font-medium text-md;
}

.dot-grid {
	--dot-bg: var(--color-black);
	--dot-color: #cbd9d804;
	--dot-size: 4px;
	--dot-space: 12px;

	background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%)
		center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center /
		var(--dot-space) var(--dot-space),
		var(--dot-color);
}

:root {
	--radius: 0.625rem;
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
